<% layout('/layouts/boilerplate') %>

    <body>
        <main>
            <h3 class="m-4"><a href="/listings"><i class="fa-solid fa-circle-arrow-left fa-lg mr-2"
                        style="color: #009acd;"></i></a><b>Your Listings</b></h3>
                        <% if(allListings.length==0){%>
                            <div class="heroText">
                                <h2 class="font-size-5">You haven't listed any property yet!</h2>
                                <p><i>List your properties now!</i> </p>
                                <a href="/listings/new" class="divBtns"><button>Go for it!</button></a>
                            </div>
                            <%}%>
            <div class="containerx">
                        <% for(list of allListings){ %>

                            <a href="/listings/<%= list._id %>">
                                <div class="listing">
                                    <img src="<%= list.image.url || list.image %>" alt="image of <%= list.title %>"
                                        loading="lazy">
                                    <div class="listInfo">
                                        <p>
                                            <b>
                                                <%= list.title %>
                                            </b>
                                        </p>
                                        <p>
                                            <%= list.location %> ,
                                                <%= list.country %>
                                                    <% if(!list.booked || list.booked=="false" ){%>
                                                        <% } else{%>
                                                            <p><b>Booked</b></p>
                                                            <% }%>
                                        </p>
                                        <p style="color: #FB5A57">
                                            <%= list.price.toLocaleString("en-US") %> PKR/night
                                        </p>

                                    </div>
                                </div>

                            </a>

                            <%}%>

            </div>
        </main>
    </body>