<% layout('/layouts/boilerplate') %>

    <body>
        <main>
            <h3 class="m-4"><a href="/listings"><i class="fa-solid fa-circle-arrow-left fa-lg mr-2" style="color: #009acd;"></i></a><b>BANGLOWS</b> : </h3>

        <div class="containerx">
            <% if(allListings.length==0){%>
                <h1>No listings available</h1>
                <%}%>
                    <% for(list of allListings){ %>

                        <a href="/listings/<%= list._id %>">
                            <div class="listing">
                                <img src="<%= list.image.url || list.image %>" alt="image of <%= list.title %>"
                                    loading="lazy">
                                <div class="listInfo">
                                    <p>
                                        <b>
                                            <%= list.title %>
                                        </b>
                                    </p>
                                    <!-- <p> <b>Description :</b> <%=  list.description  %></p> -->
                                    <p>
                                        <%= list.location %> ,
                                        <%= list.country %>
                                        <% if(!list.booked || list.booked=="false" ){%>
                                            <% } else{%>
                                                <p><b>Booked</b></p>
                                                <% }%>
                                            </p>
                                            <p style="color: #FB5A57">
                                                <%= list.price.toLocaleString("en-US") %> PKR/night
                                            </p>


                                </div>
                                <!-- <p> <b>Image Link :</b> <a href="<%= list.image.url  %>" target = "_blank">click to see images</a> </p> -->
                            </div>

                        </a>

                        <%}%>

        </div>
        </main>
    </body>